{% extends "core/base.html" %}

{% block content %}
<main>
  {% include "core/partials/hero.html" %}

  <section aria-labelledby="projects-title">
    <h2 id="projects-title">{{ site.sections.projects }}</h2>
    {% for project in site.projects %}
      {% include "core/partials/project_card.html" %}
    {% endfor %}
  </section>

  <section aria-labelledby="businesses-title">
    <h2 id="businesses-title">{{ site.sections.businesses }}</h2>
    {% for business in site.businesses %}
      {% include "core/partials/business_card.html" %}
    {% endfor %}
  </section>
</main>
{% endblock %}
