{% load static %}
<article class="card">
  <div class="card__head">
    {% if project.logo %}
      <img class="card__logo" src="{% static project.logo.src %}" width="{{ project.logo.width }}" height="{{ project.logo.height }}" alt="{{ project.name }} logosu">
    {% endif %}
    <div>
      <h3 class="card__title">{{ project.name }}</h3>
      <p class="card__text">{{ project.summary }}</p>
    </div>
  </div>
  <ul class="badges" role="list">
    {% for badge in project.badges %}
      <li>{% include "core/partials/badge.html" %}</li>
    {% endfor %}
  </ul>
  {% if project.screenshots %}
    <div class="shots">
      {% for shot in project.screenshots %}
        <a class="shots__item" href="{% static shot.src %}" target="_blank" rel="noopener">
          <img src="{% static shot.thumb %}" srcset="{% static shot.thumb %} 800w, {% static shot.src %} {{ shot.width }}w" sizes="(min-width: 40rem) 24rem, calc(100vw - 5rem)" width="{{ shot.width }}" height="{{ shot.height }}" alt="{{ shot.alt }}" loading="lazy">
        </a>
      {% endfor %}
    </div>
  {% endif %}
</article>
