<div class="sparkles" aria-hidden="true">
  <span style="--x: 7%; --y: 4.2rem; --d: 0s"></span>
  <span style="--x: 16%; --y: 3.4rem; --d: 1.3s"></span>
  <span style="--x: 27%; --y: 4.6rem; --d: 2.1s"></span>
  <span style="--x: 38%; --y: 3.6rem; --d: 0.6s"></span>
  <span style="--x: 49%; --y: 4.4rem; --d: 2.8s"></span>
  <span style="--x: 58%; --y: 3.3rem; --d: 1.7s"></span>
  <span style="--x: 69%; --y: 4.5rem; --d: 0.3s"></span>
  <span style="--x: 78%; --y: 3.5rem; --d: 2.4s"></span>
  <span style="--x: 88%; --y: 4.3rem; --d: 1s"></span>
  <span style="--x: 95%; --y: 3.7rem; --d: 3.1s"></span>
</div>
